<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/auto-complete.css">
</head>
<style>

html { width: 100%; height:100%; overflow:hidden; }



body{

	margin: 0;
	padding: 0;
	font-family: sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);

}
section{
	width: 100%;
	height: 10vh;
	background-size: cover;
}
.menu{
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,.5);
	padding: 0 100px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0,0,0,.2)
}
.menu img{
	float: left;
	width: 84px;
  border-radius:20px
}
nav{
	position: relative;
	float: right;
}
nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	display: block;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 20px;
}
nav ul li a:hover{
	background: #184771;
	color: #fff;
}
nav ul li ul{
	display: block;
	background: rgba(255,255,255,.5);
	min-width:250px;
	position: absolute;
	margin-top: 1px;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: translateY(40px);
}
nav ul li:hover ul{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}
nav ul li ul a{
	padding: 10px;
}

{{!-- card styles --}}

.card {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color:rgba(255,255,255,.5);
  width: 27%;
  margin-left: 3%;
  margin-top: 10%;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .2rem;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

{{!-- search-box styles --}}

.search-container{
  position: relative;
  width: 490px;
  display: block;
  margin: 3% auto;
}

input#search-bar{

  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: absolute;
  float: right;
  width: 75px;
  height: 75px;
  top: -15px;
  right: -45px;
}

.search-button {
	border: none;
    outline: none;
    background: transparent;
}


</style>
<body>

	<div class="menu">
		<nav>
			<ul>
				<li><a href="#">Complaints</a>
					<ul>
						<li><a href="./complaintdoc">Complaint About Documents</a></li>
					</ul>
				</li>
				<li><a href="./login">Sign in</a></li>
				<li><a href="./register">Apply To Be OU</a>
					</li>
			</ul>
		</nav>
	</div>
	<section></section>

	<form class="search-container">
    	<input type="text" id="search-bar" placeholder="What can I help you with today?">
    	<button type="submit" class="search-button"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></button>
  	</form>

	<div id="cardslist">
		{{#each files}}
		<a href={{this.url}}>
			<div class="card">
				<div class="card-header">
					<div class="card-title">
							{{this.file_name}}
					</div>
				</div>
				<div class="card-body">
					{{content}}...
				</div>
			</div>
		</a>
		{{/each}}
	</div>
</body>
<script src="/js/auto-complete.min.js"></script>
<script>
	var files = [];
	fetch("/documents")
	.then(response => response.json())
	.then(response => {
		files = response;
	})
	.catch(err => {
		files = [];
	})
	new autoComplete({
    selector: '#search-bar',
    minChars: 1,
	source: function(term, suggest){
        term = term.toLowerCase();
        var matches = [];
        for (i=0; i<files.length; i++)
            if (~files[i].file_name.toLowerCase().indexOf(term)) matches.push(files[i]);
        suggest(matches);
    },
	renderItem: function (item, search){
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        return '<div class="autocomplete-suggestion" data-url="'+item.url+'" > '+item.file_name+'</div>';
    },
    onSelect: function(e, term, item){
        var value = item.getAttribute("data-url");
		window.location.href = value;
    }
	});
</script>
</html>
