<!DOCTYPE html>

<html>
<body>
  <script src="./routes/doceditor.js"></script>
  <table>
    <tr>
      <td>
        <h1>{{file.file_name}}</h1>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <textarea id="inputText" cols="250" rows="65">{{contents}}</textarea>
      </td>
    </tr>

    <tr>
      <td>
        Save File As:
      </td>
      <td>
        <input id="fileName" />
      </td>
      <td>
        <button onclick="saveToFile()"> Save </button>
      </td>
    </tr>
    <tr>
      <td>
      Select a File to Load:
    </td>
    <td>
      <input type="file" id="fileLoad" />
    </td>
    <td>
      <button onclick="loadFromFile()"> Load </button>
    </td>
    </tr>

  </table>
</body>
</html>
